@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@*<h1>@ViewData["Title"]</h1>*@
    <div class="col-md-4 mt-5 bg-dreambuilderKhaki rounded">
        <br />
        <form id="account" method="post">
            <h4 class="text-center">Login</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username" class="font-weight-bold"></label>
                <input asp-for="Input.Username" class="form-control" type="text" id="username" placeholder="Enter your username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="font-weight-bold"></label>
                <input asp-for="Input.Password" class="form-control" type="password" id="password" placeholder="Enter your password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-dreambuilder text-dreambuilder font-weight-bold">Login</button>
            </div>
            <div class="form-group">
                <p>
                    <a class="text-dreambuilder" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p class="text-dreambuilder">
                    <a class="text-dreambuilder" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </form>
        <br />
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}