@model List<DreamBuilder.Models.Categories.ViewModels.ProductsSearchByCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

    <div class="container mt-5">
        <form asp-controller="Categories" asp-action="All" method="get">
            <div class="input-group">
                <select class="form-control text-success" id="category" name="search">
                    <option selected disabled>--- Select category ---</option>
                    <option>New</option>
                    <option>Old</option>
                    <option>Demo</option>
                </select>
                <div class="input-group-btn">
                    <button class="btn bg-dreambuilderKhaki font-weight-bold" type="submit">
                        <i class="text-center"></i>Search
                    </button>
                </div>
            </div>
        </form>
        <div class="grid container-fluid justify-content-around mt-5">
            @if (Model.Count() == 0)
            {
                <span></span>
                <span class="font-weight-bold text-danger">No matches for your search!</span>
            }
            else
            {
                @foreach (var product in Model)
                {
                    <div class="row">
                        <div>
                            <div class="col-md-3">
                                <span class="font-weight-bold shadow">@product.Name</span>
                                <span class="font-weight-bold shadow">@product.Category</span>
                                <a href="/Products/All/">
                                    <img src="@product.Image" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

