@model DreamBuilder.Models.Categories.InputModels.ProductCategoryCreateInputModel
@{
    ViewData["Title"] = "Create";
}

<h4 class="mt-md-4 mx-md-4 shadow bg-dreambuilderKhaki w-25 d-flex justify-content-center rounded">Create category</h4>

<div class="row">
    <div class="col-md-4 mt-3">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label font-weight-bold text-success"></label>
                <input asp-for="Name" class="form-control " />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-lg-around mt-5">
                <input type="submit" value="Create" class="btn bg-dreambuilder font-weight-bold" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
