@using DreamBuilder.Models.Categories.ViewModels
@model DreamBuilder.Models.Products.InputModels.ProductsCreateInputModel
@{
    ViewData["Title"] = "Create";
}

<h5 class="mt-md-4 mx-md-4 shadow bg-dreambuilderKhaki w-25 d-flex justify-content-center rounded">Create new product</h5>
<div class="row">
    <div class="col-md-4 mt-3">
        <form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="text-success h5"></label>
                <input asp-for="Name" class="form-control text-success"
                       type="text" id="name" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="text-success h5"></label>
                <select class="form-control text-success" id="make" asp-for="Make">
                    <option selected disabled>--- Select MAKE ---</option>
                    <option>JCB</option>
                    <option>NEW HOLLAND</option>
                    <option>HYUNDAI</option>
                </select>
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="text-success h5"></label>
                <select class="form-control text-success" id="model" asp-for="Model">
                    <option selected disabled>--- Select MODEL ---</option>
                    <option>4CX</option>
                    <option>3CX</option>
                    <option>Multi Terrain Loader 55269</option>
                    <option>DragLine</option>
                </select>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="text-success h5"></label>
                <textarea asp-for="Description" class="form-control text-success" id="description" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="text-success h5"></label>
                <input asp-for="Image" class="form-control text-success" type="file" name="image" id="image" placeholder="Upload image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="text-success h5"></label>
                <input asp-for="Price" class="form-control text-success" type="number" step="0.01" id="price" placeholder="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturedOn" class="text-success h5"></label>
                <input asp-for="ManufacturedOn" class="form-control text-success" type="date" id="manufacturedOn" placeholder="ManufacturedOn" />
                <span asp-validation-for="ManufacturedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="text-success h5"></label>
                <select class="form-control text-success" id="category" asp-for="Category">
                    <option selected disabled>--- Select Product Category ---</option>
                    @foreach (var category in (IEnumerable<CategoryCreateProductCategoryViewModel>)this.ViewData["categories"])
                    {
                        <option value="@category.Name"> @category.Name</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-lg-around mt-5">
                <input type="submit" value="Create" class="btn bg-dreambuilder text-dark font-weight-bold" />
            </div>
        </form>
    </div>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
