@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="mt-3">We build your dreams!</h1>
        <img class="bg-dreambuilderaqua" src="~/images/126460773.jpg">
    </div>
