.bg-dreambuilder {
    background-color:  yellow;
}

.bg-dreambuilderKhaki {
    background-color: khaki;
}

.text-dreambuilder {
    color: black;
}

.bg-dreambuilderaqua {
    background-color: aquamarine;
}

.fontsizedb {
    font-size: 20px;
}

.grid {
    max-width: 1000px;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 300px;
}

/*Carousel images*/
.w-85 {
    width: 85%;
}


/*file images*/

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}







